@font-face {
  font-family: "iconfont"; /* Project id 4774132 */
  src: url('iconfont.woff2?t=1733924577012') format('woff2'),
       url('iconfont.woff?t=1733924577012') format('woff'),
       url('iconfont.ttf?t=1733924577012') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuyelunboanniuR_A:before {
  content: "\e616";
}

.icon-zhuyelunboanniuL_A:before {
  content: "\e615";
}

.icon-fanhui:before {
  content: "\e66e";
}

.icon-gengkuaijie:before {
  content: "\e675";
}

.icon-wodeqiaquan:before {
  content: "\e622";
}

.icon-Shape:before {
  content: "\e603";
}

.icon-shinshopyouhuiquan:before {
  content: "\e62b";
}

.icon-shujuchuanshukuai:before {
  content: "\e774";
}

.icon-youchuan:before {
  content: "\e620";
}

.icon-dianhua:before {
  content: "\e64c";
}

.icon-didianbiaozhu:before {
  content: "\e65b";
}

.icon-youjian:before {
  content: "\e625";
}

.icon-kongxinxingxing:before {
  content: "\e619";
}

.icon-shixinxingxing:before {
  content: "\e609";
}

.icon-aixin:before {
  content: "\e8ab";
}

.icon-geren:before {
  content: "\e61c";
}

.icon-gouwuche:before {
  content: "\e60c";
}

.icon-gouwu:before {
  content: "\10183";
}

.icon-fangdajing:before {
  content: "\e6e4";
}

